<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  <appSettings>
    <add key ="DocumentRootDirectoryName" value="Documentation"/>
    <add key ="StDocsRootDirectoryName" value="StDocs\NCQA Documentation"/>
    <add key="EmailToAddress" value="support@bizmedsolutions.com"/>
    <add key="EmailFromTitle" value="BizMed Toolbox Support"/>
    <!-- Max allowed EHR/PM  OR Max allowed Systems-->
    <add key="MaxAllowedEHR" value="4"/>
    <add key="EnterpriseName" value="Default-Enterprise"/>
    <add key="APIKey" value="C9EC1411-B091-46C8-8158-DE2D392CFCF3" />
    <add key="DefaultMedicalGroupId" value="1" />
  </appSettings>
  <log4net>
    <logger name="default">
      <level value="DEBUG" />
    </logger>
    <root>
      <!--specify level type to discard other level types-->
      <!--<level value="info" />-->
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="SubmissionAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\BMT\Logs\BizMedToolBox" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value=".dd-MMM-yyyy.lo\g" />
      <param name="RollingStyle" value="Date" />
      <maxSizeRollBackups value="10" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n"/>
      </layout>
    </appender>
    <appender name="SubmissionAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\BMT\Logs\BMT-Submission" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value=".dd-MMM-yyyy.lo\g" />
      <param name="RollingStyle" value="Date" />
      <maxSizeRollBackups value="10" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <!-- Secure Webservices information -->
  <system.web>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <location inheritInChildApplications="false" path=".">
    <connectionStrings>
      <add name="BMTConnectionString" connectionString="Data Source=localhost;Initial Catalog=NewMig;Persist Security Info=True;User ID=sa;Password=sa1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" optimizeCompilations="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. 
            defaultRedirect="~/Error/GenericErrorPage.htm" -->

    <customErrors mode="On" defaultRedirect="~/Account/Login.aspx">
      <error statusCode="403" redirect="~/Error/NoAccess.htm" />
      <error statusCode="404" redirect="~/Error/FileNotFound.htm" />
    </customErrors>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.net>
    <mailSettings>
      <smtp from="support@bizmedsolutions.com">
        <network host="smtp.gmail.com " password="yoshi1cat" port ="587" userName="support@bizmedsolutions.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="240" regenerateExpiredSessionId="true" ></sessionState>
  </system.web>
  <system.web >
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
  </system.web>
  <system.web>
    <!-- Uploading file size and timeout restriction -->
    <httpRuntime executionTimeout="10000000" maxRequestLength="81920"/>
    <!-- ~80MB -->
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ncqa-public-staging" address="https://staging.ncqa.org/staging/IssDocumentService/DocumentService.svc/" binding="webHttpBinding" bindingConfiguration="RESTBinding" contract="Ncqa.Iss.DocumentService.Interface.IRestDocumentService"></endpoint>
    </client>
    <standardEndpoints />
    <bindings>
      <webHttpBinding>
        <binding name="RESTBinding"
          transferMode="Buffered" closeTimeout="00:05:00"
         openTimeout="00:05:00"
         receiveTimeout="00:05:00"
         sendTimeout="00:05:00"
         maxBufferSize="2147483647"
         maxBufferPoolSize="524288"
         maxReceivedMessageSize="2147483647">
          <readerQuotas
           maxDepth="2147483647"
           maxStringContentLength="2147483647"
           maxArrayLength="2147483647"
           maxBytesPerRead="2147483647"
           maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
