<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="BMTBLL.Properties.Settings.BMTConnectionString" connectionString="Data Source=Fahad;Initial Catalog=BMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString1" connectionString="Data Source=AGILOSERVER;Initial Catalog=BMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.bmtConnectionString2" connectionString="Data Source=YOUSUF;Initial Catalog=bmt;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTPhaseIIConnectionString"
      connectionString="Data Source=Fahad;Initial Catalog=BMTPhaseII;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString3" connectionString="Data Source=localhost;Initial Catalog=BMT;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString4" connectionString="Data Source=localhost;Initial Catalog=BMT;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString6" connectionString="Data Source=ABBAS-PC\SQLEXPRESS;Initial Catalog=BMT;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString5" connectionString="Data Source=ABBAS-PC\SQLEXPRESS;Initial Catalog=BMT;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTTestConnectionString"
      connectionString="Data Source=ZAFFAR-PC\sqlexpress;Initial Catalog=BMTTest;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTTestConnectionString1"
      connectionString="Data Source=.;Initial Catalog=BMTTest;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTTestConnectionString2"
      connectionString="Data Source=IRFAN-PC\SQLEXPRESS;Initial Catalog=BMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString7" connectionString="Data Source=IRFAN-PC\SQLEXPRESS;Initial Catalog=BMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.MigratedBMTConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=MigratedBMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTLive7JuneConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=BMTLive7June;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.bmtConnectionString8" connectionString="Data Source=ZOHAIB;Initial Catalog=bmt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.bmt_newConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=bmt_new;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.Mig_bmtConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=Mig_bmt;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.Final_MigConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=Final_Mig;User ID=sa;Password=sa1"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.MigratedConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=Migrated;User ID=sa;Password=sa1"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.NewMigConnectionString"
      connectionString="Data Source=ZOHAIB;Initial Catalog=NewMig;User ID=sa;Password=sa1"
      providerName="System.Data.SqlClient" />
    <add name="BMTBLL.Properties.Settings.BMTConnectionString9" connectionString="Data Source=.\sqlexpress;Initial Catalog=BMT;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint name="ncqa-public-staging" address="https://staging.ncqa.org/staging/IssDocumentService/DocumentService.svc" binding="webHttpBinding" bindingConfiguration="RESTBinding" contract="Ncqa.Iss.DocumentService.Interface.IRestDocumentService"></endpoint>
    </client>
    <standardEndpoints />
    <bindings>
      <webHttpBinding>
        <binding name="RESTBinding"
          transferMode="Buffered" closeTimeout="00:05:00"
         openTimeout="00:05:00"
         receiveTimeout="00:05:00"
         sendTimeout="00:05:00"
         maxBufferSize="2147483647"
         maxBufferPoolSize="524288"
         maxReceivedMessageSize="2147483647">
          <readerQuotas
           maxDepth="2147483647"
           maxStringContentLength="2147483647"
           maxArrayLength="2147483647"
           maxBytesPerRead="2147483647"
           maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>